@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>This project was created with the purpose of learning and applying knowledge acquired in the construction of an API using .Net Core, MVC architecture with an integrated database.</p>
