@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Please, use the links on this page to contact me. <br />
</address>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/victoriabarrosl/">linkedin.com/victoriabarrosl</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/VictoriaBarrosL/VictoriaBarrosL">github.com/VictoriaBarrosL</a><br />
    <strong>E-mail:</strong> <a href="mailto:victoria_barrosl@outlook.com">victoria_barrosl@outlook.com</a><br />
</address>
